@import "@amar-ui-web/color/scss/variables";

.LandingDesktop {
  display: flex;
  flex-direction: row;
  margin: 1rem auto 0;
  min-height: calc(100vh - 56px - 1rem);
  overflow-x: auto;
  padding-bottom: 1rem;
  word-break: break-all;

  &-image {
    img {
      border-radius: 50%;
    }
  }

  &-column {
    background-color: $amb-neutral-10;
    border-radius: 0.5rem;
    padding: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &-card {
    height: auto;
    min-width: 350px;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    *:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

::-webkit-scrollbar {
  background-color: $amb-neutral-20;

  &-thumb {
    background-color: $amb-neutral-90;
  }

  &-track {
    background-color: $amb-neutral-10;
    box-shadow: inset 0 0 6px $amb-neutral-60;
  }
}
