@import "@amar-ui-web/core";

.TextAlign {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-justify {
    text-align: justify;
  }

  &-right {
    text-align: right;
  }
}
